@font-face {
	font-family: fancyFont;
	src: url("./fonts/ColabThi.otf");
}

button:hover {
	cursor: pointer;
}

.App-btnFull {
	position: fixed;
	bottom: 0;
}

.App-clickable {
	color: darkgray;
	transition: 400ms;
}

.App-clickable:hover {
	cursor: pointer;
	color: blue;
}

.App-container {
	text-align: center;
	transition: 400ms;
	font-family: fancyFont;
	pointer-events: all;
}

.fullscreen.fullscreen-enabled {
	background-color: white;
}

#App-mainContainer {
	background-color: white;
	transition: 300ms;
}

#App-mainContainer.App-mobile{
	width: 100%;
	text-align:center;
	position: fixed;
	top: 93px;
}

#App-mainContainer.visible {
	opacity: 1;
}

#App-mainContainer.invisible {
	opacity: 0;
}