#App-controlFooter {
	position: fixed;
	bottom: 0.5em;
	text-align: center;
	width: 75%;
	height: 1.7em;
	background-color: black;
	color: white;
	border: solid white 1px;
	left: 50%;
	user-select: none;
	border-radius: 90px;
	transition: 1400ms;
	pointer-events: auto;
}

#App-controlFooter.mobileControlFooter{
	width: 90%;
	left: 5%;
}

.App-controlElement {
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;

	height: 1em;
	/* width: 1em; */
}

input.App-controlElement {
	border: 1px solid gray;
}

img.App-controlElement {
	filter: invert(1);
}

img.App-controlElement:hover {
	cursor: pointer;
	fill: black;
}
