tbody{
	transition: 600ms;
	opacity: 0;
	display: block;
	width: 100%;
}

tBody.visible{
	opacity: 1;
}

.App-listBoxContainer{
	display: block;
  position: relative;
  /* padding-left: 35px;
  margin-bottom: 12px; */
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	top: 4px;
	width: 100%;
}

.App-listCheckbox{
	opacity: 0;
	height: 14px;
	width: 14px;
	visibility: hidden;
}

.App-listCustomCheckbox{
	position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 14px;
	background-color: #eee;
	transition: 350ms;
}

.App-listBoxContainer:hover input ~ .App-listCustomCheckbox{
  background-color: #ccc;
}

.App-listBoxContainer input:checked ~ .App-listCustomCheckbox {
  background-color:  	#DA87B6;
}

.App-itemInfo {
	font-size: 12px;
	color: lightgray;
	overflow: hidden;
	line-break: strict;
	text-align: left;
	user-select: none;
}

.App-itemInfo.App-liMobile {
	font-size: 10px;
	color: lightgray;
	overflow: hidden;
	line-break: strict;
	text-align: left;
	user-select: none;
}

.App-bigSpan{
	transition: 350ms;
	font-size: 10px;
}

.App-bigSpan:hover {
	color: black;
	cursor: pointer;
}

.App-listIcon {
	width: 14px;
	height: 14px;
	transition: 300ms;
	user-select: none;
	float: right;
	vertical-align: center;
	margin-left: 12px;
}

.App-listIcon:hover {
	cursor: pointer;
}

.App-listIconNonClickable {
	width: 10px;
	height: 10px;
	transition: 400ms;
	opacity: 0.5;
	user-select: none;
	vertical-align: inherit;
}

.App-beingDraggedOver {
	background-color: pink;
}

td {
	padding: 0.1em;
}

table td.App-smallSpan {
	table-layout: fixed;
	width: auto;
	overflow: hidden;
	word-wrap: break-word;
	padding-left:2px;
	padding-right: 2px;
}

table td.App-bigSpan {
	table-layout: fixed;
	font-size: 16px;
	width: 85%;
	overflow: hidden;
	word-wrap: break-word;
	text-align: left;
}

th.App-columnName {
	text-align: left;
	text-overflow: hidden;
}

th.App-columnName:hover {
	cursor: pointer;
}