.App-bio {
  margin-top: 2em;
  padding-bottom: 2em;
}

.App-bioEntry {
  border-top: 1px solid ghostwhite;
  border-right: 1px solid ghostwhite;
  border-radius: 60px;
  margin-bottom: 3em;
  height: 15vh;
  width: 100%;
  text-align: justify;
  padding: 1em;
}

.App-bioEntry.App-mobile {
  padding: 4px;
  margin-bottom: 0.1em;
  font-size: 14px;
}

.App-bioContent {
  height: 15vh;
  text-align: left;
  text-overflow: clip;
  padding: 2em;
}

.App-bioContent.App-mobile {
  padding: 8px;
  height: 100%;
}

.App-bioPic {
  object-fit: cover;
  float: left;
  border-radius: 100%;
  width: calc(100px + 0.5vmin);
  height: calc(100px + 0.5vmin);
  padding: 4px;
  margin-right: 24px;
}

.App-bioPic.App-mobile {
  width: calc(42px + 0.5vmin);
  height: calc(42px + 0.5vmin);
  padding: 2px;
  margin-right: 12px;
}

.App-bioBorder {
  margin: auto;
  margin-top: 90px;
  width: 65%;
  height: 1px;
  background-color: lightgray;
  bottom: 0;
}

.App-bioBorder.App-mobile {
  margin-top: 1.5em;
}