#app-mainPage {
  margin-top: 0;
}

.App-bio {
  padding-bottom: 8em;
}

.App-bioEntry {
  border-top: 1px solid ghostwhite;
  border-right: 1px solid ghostwhite;
  margin-bottom: 3em;
  height: 15vh;
  text-align: justify;
  float: right;
}

.App-bioEntry.App-mobile {
  padding: 4px;
  font-size: 18px;
}

.App-bioContent {
  height: 15vh;
  text-align: left;
  padding: 2em;
}

.App-bioContent.App-mobile {
  padding: 8px;
  height: 100%;
}

.App-bioPic {
  object-fit: cover;
  float: left;
  /* border-radius: 100%; */
  width: calc(100px + 0.5vmin);
  height: calc(100px + 0.5vmin);
  padding: 4px;
  margin-right: 24px;
}

.App-bioPic.App-mobile {
  width: calc(80px + 0.5vmin);
  height: calc(80px + 0.5vmin);
  padding: 2px;
  margin-right: 12px;
}

.App-bioBorder {
  margin: auto;
  margin-top: 90px;
  width: 65%;
  height: 1px;
  background-color: lightgray;
  bottom: 0;
}

.App-bioBorder.App-mobile {
  margin-top: 1.5em;
}