.App-bioEntry{
  border-top: 1px solid ghostwhite;
  border-right: 1px solid ghostwhite;
  border-radius: 60px;
  /* margin-bottom:1em; */
  height: 28vh;
  width: 100%;
}


.App-bioContent{
  text-align: right;
  text-overflow: clip;
  /* float:right; */
  padding: 2em;
}

.App-bioEntry:nth-of-type(even) .App-bioContent{
  /* float: left; */
  text-align:left;
}

.App-bioPic{
  display: inline;
  object-fit: cover;
  float: left;
  border-radius: 100%;
  width: calc(100px + 0.5vmin);
  height: calc(100px + 0.5vmin);
  padding:1em;
  margin-top:1em;
}

/* .App-bioEntry:nth-of-type(even) .App-bioPic{
  float: right;
} */