#App-folderList {
	margin: auto;
	margin-top: 2em;
	width: 70vw;
	height: 50vh;
	position: static;
	top: 250px;
	left: 15%;
	color: darkgray;
	display: inherit;
	overflow-y: scroll;
	vertical-align: middle;
	opacity: 1;
	font-size: calc(16px + 0.5vh);
	pointer-events: auto;
	z-index: 999;
}

#App-folderList.folderListMobile{
	left: 0;
	right: 1em;
	width: 95%;
	top: 7em;
	font-size: 4vw;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
}

#App-fileList {
	margin: auto;
}

#App-info {
	display: inline-block;
}

.App-infoItem {
	display: flexbox;
	padding: 1em;
	padding-right: 1em;
}

#App-setViewMenu{
  position: fixed;
  top:4.5em;
  right:2em;
  color:white;
  background-color: black;
  border-radius:30px;
  padding:3px;
  z-index: 999;
}

.App-setViewItem{
	font-size: 14px;
  margin: 4px;
  transition:300ms;
  user-select: none;
}

.App-setViewItem:hover{
  cursor: pointer;
  color:#DA87B6;
}

.App-filePond {
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 6em;
	z-index: 999; 
	pointer-events: auto;
}

.filepond--file {
	color: white;
}

.filepond--item {
	width: calc(25% - .5em);
}

.filepond--item-panel {
	border-radius: 0.5em;
}

.App-onlyNonRootVisible {
	display: none;
}