.App-navBar {
	text-align: center;
	height: auto;
	border-bottom: solid black 0.1px;
	overflow: hidden;
	font-size: 0.7em;
}

.App-navItem {
	vertical-align: center;
	height: 1em;
	margin: 2em;
	display: inline-block;
}

img.App-navItem:hover {
	cursor: pointer;
}
