@font-face {
	font-family: headFont;
	src: url("../fonts/Gidole-Regular.otf");
}

#App-header {
	background-image: url('../img/head.jpg');
	background-size: 110vw;
	/* background-position-x: 100; */
	background-position-y: 10%;
	font-family: fancyFont;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	top: 0;
	user-select: none;
	transition: 400ms ease-in-out;
	clear: both;
	z-index:-999;
	height: 100px;
	pointer-events: none;
}

#App-header.visible {
	opacity: 1;
}

#App-headerDiv {
	position: absolute;
	left:8vw;
	display: inline-block;
	text-align: center;
	top: 0;
	width: 80%;
	vertical-align: middle;
	margin-top: 0.25em;
	height: calc(128px + 1vmin);
}

/* #App-headerIcon {
	position: absolute;
	height: calc(100px + 1vmin);
	width: 90vw;
	left: -50px;;
	top: 3vh;
	z-index: 0;
	opacity:0.23;
	filter: hue-rotate(100deg);
	filter: saturate(80%);
} */

.App-caption {
	font-size: calc(54px + 1vmin);
	margin: 0;
	margin-top: 12px;
	text-align: left;
	line-break: strict;
	z-index: 999;
}

.App-subHeader {
	display:inline;
	z-index:999;
	font-size: calc(26px + 1vmin);
	line-break: strict;
	text-align: right;
	margin: 0;
	margin-left:0.5em;
	margin-bottom: 1em;
}

