#App-header {
	font-family: fancyFont;
	background-color: black;
	color: pink;
	height: 2em;
	width: 100%;
	text-align: center;
	margin: 0;
	opacity: 0;
	position: fixed;
	top: 0px;
	user-select: none;
	left: 0px;
	right: 0px;
	transition: 1000ms;
}

#App-header.mobileHeader{
	font-size: 16px;
}

#App-header.visible {
	opacity: 1;
}

.App-navBar {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 0.5em;
	font-weight: normal;
	text-align: center;
	height: 3em;
	width: 100%;
	position: fixed;
	top: 4em;
	left: 0px;
	right: 0px;
	color: black;
}

.App-navItem {
	vertical-align: middle;
	width: 0.7em;
	height: 0.7em;
	height: 1em;
	margin-left: 2em;
	margin-right: 2em;
	display: inline-block;
}

img.App-navItem:hover {
	cursor: pointer;
}

.App-subHeader {
	display: block;
	font-size: 0.6em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: -0.5em;
	font-weight: bold;
}
