tbody{
	transition: 500ms;
	opacity : 0;
}

tBody.visible{
	opacity: 1;
}

.App-itemInfo {
	font-size: 0.8em;
	color: lightgray;
	overflow: hidden;
	line-break: strict;
	text-align: left;
	user-select: none;
}

.App-listItem{
	transition: 350ms;
}

.App-listItem:hover {
	color: black;
	cursor: pointer;
	font: size 1.1em;
}

.App-listIcon {
	width: 0.8em;
	height: 0.8em;
	transition: 300ms;
	user-select: none;
	float: left;
	vertical-align: center;
}

.App-listIcon:hover {
	cursor: pointer;
}

.App-listIconNonClickable {
	width: 0.8em;
	height: 0.8em;
	transition: 400ms;
	opacity: 0.5;
	user-select: none;
	vertical-align: middle;
}

.App-beingDraggedOver {
	background-color: pink;
}
