#App-loginButton {
  font-size: calc(16px + 1vmin);
  transition: 800ms;
  margin: 1em;
  display: none;
  opacity: 0;
}

#App-loginButton.visible {
  opacity: 1;
}

#App-loginScreen {
  margin-top: 7vh;
}

#App-loginButton:hover {
  cursor: pointer;
  color: pink;
}

.App-loginInput {
  padding: 8px;
  border-radius: 90px;
  display: inline;
  margin: 1em;
}