a {
  text-decoration: none;
}

#App-mainPage {
  font-size: calc(16px + 0.5vh);
  transition: 600ms ease-in-out;
  margin: auto;
  width: 80vw;
  /* height: 75vh; */
  height: auto;
  user-select: none;
  overflow-y: none;
  margin-top: 3em;
  position: relative;
  text-align: center;
}

#App-subPageContainer {
  transition: 600ms;
  text-align: center;
}

#App-subPageContainer.visible {
  opacity: 1;
}

#App-subPageContainer.invisible {
  opacity: 0;
}

.App-mainText {
  font-size: 18px;
  text-align: justify;
  padding: 8px;
}

#App-mainHeader {
  font-size: calc(22px + 1vmin);
  transition: 2100ms;
  text-align: center;
}