a { text-decoration: none;}

#App-mainPage{
  font-size: calc(16px + 0.5vh);
  transition: 600ms ease-in-out;
  margin: auto;
	width: 60vw;
  height:auto;
  user-select: none;
  margin-top: 2em;
}

#App-subPageContainer{
  transition: 600ms;
}

#App-subPageContainer.visible {
  opacity: 1;
}

#App-subPageContainer.invisible{
  opacity:0;
}

.App-mainText{
  text-align: justify
}

#App-mainHeader{
  font-size: calc(22px + 1vmin);
  transition: 2100ms;
  text-align: center;
}

#App-mainHeader.App-mobile{
  font-size: 12px;
}

a {
  text-decoration: none;
}

#App-mainPage.App-mobile {
  position: fixed;
  top: 0;
  font-size: calc(16px + 0.5vh);
  transition: 600ms ease-in-out;
  margin: auto;
  width: 90%;
  height: 50vh;
  height: auto;
  user-select: none;
  left:0;
  margin-top: 2em;
  position: relative;
  text-align: center;
}

#App-subPageContainer.App-mobile {
  height: 75vh;
  overflow-y:scroll;
  transition: 600ms;
  text-align: center;
}

#App-subPageContainer.visible {
  opacity: 1;
}

#App-subPageContainer.invisible {
  opacity: 0;
}

.App-mainText.App-mobile {
  font-size: 18px;
  text-align: justify;
  padding: 8px;
}

#App-mainHeader.App-mobile {
  font-size: calc(22px + 1vmin);
  transition: 2100ms;
  text-align: center;
}
