#App-mainPage{
  font-size: calc(16px + 0.5vh);
  transition: 2000ms;
  opacity: 0;
  margin: auto;
	width: 80vw;
	height: 75vh;
  top: 222px;
  left: 10em;
  right: 4em;
  user-select: none;
  position: fixed;
  padding: 1em;
  z-index: -999;
  list-style-type: none;
}

#App-mainPage.App-mainVisibile {
  opacity: 1;
}

#App-mainPage.mobile{
  top:112px;

  font-size: 14px;
  left: 1em;
}

.App-mainText{
  text-align: justify
}

#App-mainHeader{
  font-size: calc(22px + 1vmin);
  transition: 2100ms;
  text-align: center;
}

#App-mainHeader.App-headMobile{
  font-size: 14px;
}
