@font-face {
	font-family: fancyFont;
	src: url("../fonts/ColabThi.otf");
}

/* all about Navigation Bar */

.App-navBar {
	display: inline-block;
	font-family: fancyFont;
	font-size: calc(16px + 1vmin);
	text-align: center;
	height: auto;
	color: gray;
	opacity: 0;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	transition: 1600ms;
	background-color: white;
	border-bottom: solid 1px lightgray;
	justify-content: center;
	/* pointer-events: all; */
}

.App-navBar.App-navBarVisible {
	opacity: 1;
}

.App-navBar.mobileHeader {
	height: calc(16px);
	font-size: calc(14px + 1vmin);
	padding-top: 0.5em;
	display: inline-block;
}

.App-navItem {
	vertical-align: middle;
	margin: 1em;
	display: inline;
	user-select: none;
	transition: 300ms;
}

.App-navItem:hover {
	color: blue;
	cursor: pointer;
}