@font-face {
	font-family: fancyFont;
	src: url("../fonts/ColabThi.otf");
}

/* all about Navigation Bar */

.App-navBar {
	display: inline-block;
	font-family: fancyFont;
	font-size: calc(16px + 1vmin);
	text-align: center;
	height: auto;
	color: gray;
	opacity: 0;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	transition: 1600ms;
	background-color: white;
	border-bottom: solid 1px lightgray;
	justify-content: center;
}

.App-navBar.visible {
	opacity: 1;
}

.App-navBar.visible.App-mobile {
	position: fixed;
	top: 64px;
	left:20%;
	height: calc(16px);
	font-size: calc(14px + 1vmin);
	z-index: 1;
	padding-bottom: 8px;
}

.App-navItem {
	vertical-align: middle;
	margin:1em;
	display: inline;
	user-select: none;
	transition: 300ms;
}

.App-navItem.App-mobile{
	margin: 0.8em;
}

.App-navItem:hover {
	color: blue;
	cursor: pointer;
}