@font-face {
	font-family: fancyFont;
	src: url("../fonts/ColabThi.otf");
}

.App-navBar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
	display: inline-block;
	font-family: fancyFont;
	font-size: calc(16px + 1vmin);
	text-align: center;
	height: auto;
	color: gray;
	opacity: 0;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	transition: 1600ms;
	background-color: white;
	border-bottom: solid 1px lightgray;
	justify-content: center;
}

.App-navBar.visible {
	opacity: 1;
}

.App-navBar.visible.App-mobile {
	transform: translateX(0);
	top: 0;
	position: static;
	border-top: 1px solid lightgray;
	border-bottom: none;
	font-size: calc(14px + 1vmin);
	z-index: 1;
	padding-bottom: 12px;
	width: 75%;
}

.App-navItem {
	vertical-align: middle;
	margin: 1em;
	display: inline;
	user-select: none;
	transition: 300ms;
}

.App-navItem.hiddenNavItem {
	display: none;
}

.App-navItem.App-mobile {
	display: block;
	padding-bottom: 0.8em;
	border-bottom: 1px solid lightgray;
	font-size: 20px;
}

.App-navItem.App-mobile.hiddenNavItem {
	display: none;
}

.App-navItem:hover {
	color: blue;
	cursor: pointer;
}