#App-sideBar {
	/* display: inline-block; */
	font-size: calc(14px + 1vmin);
	position: absolute;
	left: -14vw;
	top: 10vh;
	width: 12%;
	user-select: none;
	opacity: 0;
	transition: 1000ms;
	border-right: solid 1px lightgray;
	padding-right: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 998;
	pointer-events: auto;
}

#App-sideBar.mobileSideBar {
	border-right: none;
	font-size: calc(14px + 1vmin);
	width: 80%;
	height: calc(22px + 1vmin);
	color: gray;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	top: 95vh;
	padding: 0.2em;
	position: fixed;
}

#App-sideBar.visible {
	opacity: 1;
}

.App-sideBarDots{
	margin-top: -0.5em;
	margin-bottom: 0.2em;
}

.App-sideBarItem {
	display: inline-block;
	transition: 300ms;
	padding: 0.2em;
	margin-bottom: 0.1em;
	color: gray;
}

.App-sideBarItem.mobile {
	width: 20vw;
}

.App-sideBarItem:hover {
	color: blue;
	cursor: pointer;
	opacity: 0.9;
	z-index: 999;
}