#App-sideBar {
	display: inline-block;
	font-size: calc(14px + 1vmin);
	position: fixed;
	left: 2%;
	top: 400px;
	transform: translateY(-50%);
	width: 10%;
	user-select: none;
	opacity: 0;
	transition: 1000ms;
	border-right: solid 1px lightgray;
}

#App-sideBar.mobileSideBar{
	font-size: calc(12px + 1vmin);
	display: inline-block;
	width: 95%;
	height: 20px;
	color: white;
	background-color:black;
	text-align: center;
	top: auto;
	bottom: 0.1vh;
	border-radius: 30px;
	position: fixed;
	padding: 0.2em;
	border-right: none;
}

#App-sideBar.visible {
	opacity: 1;
}

.App-sideBarItem {
	display: inline;
	transition: 300ms;
}

.App-sideBarItem:hover {
	cursor: pointer;
	color: pink;
}
