h3 {
  text-align: left;
  text-transform: uppercase;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-radius: 8px;
  margin-left: -24px;
  margin-top: 0;
  padding-top: 2px;
  padding-left: 24px;
  width: 12vw;
}

h3.App-mobile{
  /* margin:0; */
  margin-bottom: 4px;
  border: none;
}

.App-skillList {
  text-align: left;
}

.App-skillList li {
  list-style-type: none;
  list-style: none;
}

.App-listPoint {
  /* height: 25vh; */
  font-size: calc(16px + 0.5vh);
  width: 80%;
  margin-right: 1em;
  background-color: white;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 16px;
  border-radius: 15px;
  text-shadow: white;
  transition: 600ms ease-in-out;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 2px lightgrey;
  list-style: none;
}

.App-listPoint li:nth-child(odd) {
  /* background-color: ghostwhite; */
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgrey;
}

.App-listPoint li:nth-child(even) {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.App-listPoint.opaque {
  opacity: 1;
}

.App-listPoint.App-mobile{
  background-color: ghostwhite;
}

.App-listPoint.App-mobile li{
  padding: 8px;
  border: none;
}

.App-subList {
  font-size: calc(14px + 0.5vh);
  font-weight: normal;
  margin: 0;
  padding: 0.4em;
}

.App-subList.App-mobile{
  padding-top:0.2em;
}

.App-subList li {
  width: 12vw;
  height: 3vh;
  padding: 12px;
  margin: 6px;
  float: left;
  border-radius: 12px;
  color: black;
  vertical-align: middle;
}

.App-subList.App-mobile li{
  border: none;
}

.App-listPoint:nth-child(odd) {
  margin-left: 6em;
}

.App-listPoint.App-mobile:nth-child(odd) {
  margin-left: 0;
}
/* #App-microsoftEntry{
  width: 100%;
} */