h3 {
  text-align: left;
  text-transform: uppercase;
  margin-left: -24px;
  margin-top: 0;
  /* padding-top: 2px; */
  padding-left: 24px;
  padding-top: 12px;
  width: 12vw;
}

.App-skillList {
  text-align: left;
  list-style: none;
}

.App-subList {
  list-style: none;
}

/*

.App-skillList li {
  list-style-type: none;
  list-style: none;
}

.App-listPoint {
  font-size: calc(16px + 0.5vh);
  width: 80%;
  margin-right: 1em;
  background-color: white;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 14px;
  border-radius: 15px;
  text-shadow: white;
  transition: 600ms ease-in-out;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 2px lightgrey;
  list-style: none;
  list-style-type: none;
}



.App-listPoint.opaque {
  opacity: 1;
}

.App-subList {
  font-size: calc(14px + 0.5vh);
  font-weight: normal;
  margin: 0;
  padding: 0.4em;
}

.App-subList li {
  width: 12vw;
  height: 3vh;
  padding: 12px;
  margin: 6px;
  float: left;
  background-color: white;
  border-radius: 12px;
  color: black;
  vertical-align: middle;
}

.App-listPoint:nth-child(odd) {
  margin-left: 2em;
}

/* #App-microsoftEntry{
  width: 100%;
} */